{% extends 'base.html' %}

{% block content %}

    <h1>{{ profile.title }}</h1>
    <img src="{{ profile.image.url }}">

    <div class="probody">
        <div id="wrapper">
            <div id="mouse"></div>
            <div class="loader">
            </div>
            <div class="loading-bar">
                <div class="progress-bar"></div>
            </div>
            <div class="status">
                <div class="state"></div>
                <div class="percentage"></div>
            </div>
        </div>
    </div>

{% endblock content %}