{% extends 'base.html' %}



{% block content %}

    <img class="input_img" src="{{ profile.image.url }}">


    <div class="probody">
        <div id="wrapper">
            <div id="mouse"></div>
            <div class="loader">
            </div>
            <div class="loading-bar">
                <div class="progress-bar"></div>
            </div>
            <div class="status">
                <div class="state"></div>
                <div class="percentage"></div>
            </div>
        </div>
    </div>
    <h1>dd</h1>
    <script>
        setTimeout(function() {
        location.href = '{% url 'FirstService:result' %}'
      }, 5200)
    </script>

{% endblock content %}