{% extends 'base.html' %}

{% block content %}
    <section class="option_container">
        <div class="option_frame">
            <div class="text_box">
                <div class="step_2"># STEP 0</div>
                <div class="text">SELECT OPTION!</div>
                <div class="warning_box">※ 좌측 상단 이미지의 경우 기본 이미지입니다 ※</div>
            </div>
            <div class="line_dot"></div>
            <div class="icon_box_1">
                <li><a href="#"><img src="../../static/image/option_1.png"></a></li>
            </div>
            <div class="icon_box_2">
                <li><a href="{% url 'FirstService:upload' %}"><img src="../../static/image/option_2.png"></a></li>
            </div>
            <div class="icon_box_3">
                <li><a href="{% url 'FirstService:upload2' %}"><img src="../../static/image/option_3.png"></a></li>
            </div>
            <div class="icon_box_4">
                <li><a href="{% url 'FirstService:upload3' %}"><img src="../../static/image/option_4.png"></a></li>
            </div>

        </div>


    </section>

{% endblock content %}