@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";


body {
    font-family: 'Jua', sans-serif;

    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #35465d;
    text-align: center;
}


.portfolio_area {
}

.portfolio {
    margin-top: 10%;
}

.portfoloi_top {
}

.portfoloi_content_area {
}

.portfolio_menu {
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 48px;
}

.portfolio_menu ul {
    list-style: none outside none;
    text-align: center;
}

.portfolio_menu ul li {
    display: inline-block;
}

.portfolio_menu ul li a {
    color: #363940;
    background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio_content {
}

.portfolio_single_content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-bottom: 30px;
    overflow: hidden;

}

.portfolio_single_content:hover img {
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.portfolio_single_content img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 6;
    cursor: pointer;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.portfolio_single_content .canv {
    width: 100% !important;
    height: 100% !important;
}

.portfolio_single_content div + div {
    background: none repeat scroll 0 0 rgba(255, 255, 255, .9);
    bottom: -100%;
    color: #FFC000;
    font-weight: bold;
    left: 0;
    margin: 0;
    min-height: 90px;
    padding: 31px 5px 0 10px;
    position: absolute;
    width: 100%;
    z-index: 12;
    border-top: 0;
}

/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: scale(0);
    transition: all .6s;
    opacity: 0;
}

.portfolio_single_content:hover div {
    transform: scale(1);
    opacity: 1;
}

.portfolio_single_content div a {
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40%;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio_single_content div span {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.portfolio_content {
}

.portfolio_content {
    margin-top: 36px;
    overflow: hidden;
}

.file-upload {
    z-index: 10;
    padding: 13% 7%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}

/* .selected{
    text-decoration:line-through;
    font-weight:700;
    color:red;
    text-align:justify;
} */


.p-3 {
    margin-left: 30px;
}

.navbar-nav {
    position: fixed;
}

.navbar-nav > .nav-item {
    margin-top: 5px;
    font-size: 1.3vw;
    margin-right: 10px;

}

.second-page {

    width: 100%;

}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

#loading {
    display: none;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.gallery-wrap {
    margin-top: 10%;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.file-upload-image {
    max-height: 40%;
    max-width: 40%;
    margin: auto;
    padding: 8px;
}

.try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #35465d;
    background-color: #35465d;
}

.try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;

}

.navbar-light .navbar-brand {

    font-size: 2vw;
    line-height: 1.68;
    text-align: left;
    color: #35465d;

}

.navbar-light .navbar-toggler {
    border-color: #ffffff;

}


.title {
    margin-top: 3.75%;
    font-size: 5vw;
    line-height: 1.3;
    text-align: center;
    color: #35465d;
}

.subtitle {
    padding-top: -15px;
    line-height: 1.4;
    text-align: center;
    color: #35465d;
}

/*시작 버튼*/
.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

.inside_hr {
    height: 350px;
}


 @keyframes loader {
	 0% {
		 width: 0;
	}
	 20% {
		 width: 10%;
	}
	 25% {
		 width: 24%;
	}
	 43% {
		 width: 41%;
	}
	 56% {
		 width: 50%;
	}
	 66% {
		 width: 52%;
	}
	 71% {
		 width: 60%;
	}
	 75% {
		 width: 76%;
	}
	 94% {
		 width: 86%;
	}
	 100% {
		 width: 100%;
	}
}
 .progress-bar {
     background-color: #f6f7fa;
	 border-radius: 60px;
	 overflow: hidden;
	 width: 100%;
}
 .progress-bar span {
	 display: block;
}
 .bar {
	 background: rgba(0, 0, 0, 0.075);
}
 .progress {
	 animation: loader 5s ease infinite;
	 background: #75b800;
	 color: #fff;
	 padding: 5px;
	 width: 0;
}
 .progress-bar {
	 left: 50%;
	 max-width: 50%;
	 position: absolute;
	 top: 50%;
	 transform: translate3d(-50%, -50%, 0);
}
