:root {
  --text-color: #ffe30b;
  --background-color: #002fa5;
  --accent-color: #ffe30b;
}
* {
  /* Tells the browser to account for any border and
          padding in the values you specify for an element's
          width and height. */
  box-sizing: border-box;
}

body {

    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('image/pekeboy_bg.png');
      background-size: contain;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* Nav container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  background-color: var(--background-color);
}

/* Logo with text */
.navbar__logo {
  font-weight: bold;
  font-size: 40px;
  color: var(--text-color);
  letter-spacing: 1.5px;
}

.navbar__logo i {
  color: var(--accent-color);
}

/* Menu */
.navbar__menu {
  display: flex;
  padding-left: 60%;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
  font-size: 20px;
}

.navbar__menu li:hover {
  background-color: #7183ff;

  border-radius: 4px;
}
.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

/* Icons */
.navbar__icons li {
  padding: 8px 12px;
}

/* Toggle button */
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

.pekecontainer .peke_frame {
  position: relative;
  max-width: 700px;
  min-width: 450px;
  width: 100%;
  min-height: 420px;
  max-height: 600px;
  height: 100%;
  border: solid 12px #ffe30b;
  border-radius: 2%;
  background-color: #7183ff;
  margin: 3% auto;
}

.pekecontainer .peke_frame .stat_img img {
  position: absolute;
  display: flex;
  align-content: center;
  top: 10%;
  left: 5.3%;
  width: 40%;
  height: auto;
}

.pekecontainer .peke_frame .banner_img {
  position: absolute;
  display: flex;
  align-content: center;
  width: 50%;
  height: auto;
}

.pekecontainer .peke_frame .banner_img img {
  width: 90%;
  height: auto;
  margin-left: 100%;
  margin-top: 5%;
}

.pekecontainer .peke_frame .text_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pekecontainer .peke_frame .text_container .text_box1 {
  position: absolute;
  width: 90%;
  height: 150px;
  top: 60%;
  background-color: var(--background-color);
  left: 5.5%;
}

.pekecontainer .peke_frame .text_container .text_box1 .text_p {
  list-style: none;
  color: var(--text-color);
  width: 40%;
  margin-left: 5%;
  margin-top: 4%;
  font-size: 24px;
  line-height: 90%;
  font-weight: bold;
}

.pekecontainer .peke_frame .text_container .text_box2 {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 63.5%;
  left: 60%;
  background-color: #3057d8;
  border: solid 5px var(--accent-color);
  border-style: dashed;
}

.pekecontainer .peke_frame .text_container .text_box2 .go {
  color: #ccd2fc;
  font-size: 23px;
  margin-left: 15%;
  margin-top: 8%;
  width: 40%;
  font-weight: bold;
  transition: all 0.2s;
}

.pekecontainer .peke_frame .text_container .text_box2 .go:hover {
  background-color: rgba(132, 149, 248, 0.788);
  border-radius: 5%;
}

.pekecontainer .peke_frame .text_container .text_box2 .yes {
  color: #ccd2fc;
  font-size: 23px;
  margin-left: 15%;
  margin-top: 6%;
  width: 40%;
}

/*로딩 바 구현*/
.cat {
	 position: relative;
	 width: 100%;
	 max-width: 20em;
	 overflow: hidden;
	 /*background-color: #e6dcdc;*/
}
 .cat::before {
	 content: '';
	 display: block;
	 padding-bottom: 100%;
}
 .cat:hover > * {
	 animation-play-state: paused;
}
 .cat:active > * {
	 animation-play-state: running;
}
 .cat__head, .cat__tail, .cat__body {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 animation: rotating 2.79s cubic-bezier(0.65, 0.54, 0.12, 0.93) infinite;
}
 .cat__head::before, .cat__tail::before, .cat__body::before {
	 content: '';
	 position: absolute;
	 width: 50%;
	 height: 50%;
	 background-size: 200%;
	 background-repeat: no-repeat;
	 background-image: url('/static/image/cat.png');
}
 .cat__head::before {
	 top: 0;
	 right: 0;
	 background-position: 100% 0%;
	 transform-origin: 0% 100%;
	 transform: rotate(82deg);
}
 .cat__tail {
	 animation-delay: 0.2s;
}
 .cat__tail::before {
	 left: 0;
	 bottom: 0;
	 background-position: 0% 100%;
	 transform-origin: 100% 0%;
	 transform: rotate(-30deg);
}
 .cat__body {
	 animation-delay: 0.1s;
}
 .cat__body:nth-of-type(2) {
	 animation-delay: 0.2s;
}
 .cat__body::before {
	 right: 0;
	 bottom: 0;
	 background-position: 100% 100%;
	 transform-origin: 0% 0%;
}
 @keyframes rotating {
	 from {
		 transform: rotate(720deg);
	}
	 to {
		 transform: none;
	}
}
 .box {
     margin: 7rem auto;
	 display: flex;
	 flex: 1;
	 flex-direction: column;
	 justify-content: flex-start;
	 justify-content: center;
	 align-items: center;
	 /*background-color: #e6dcdc;*/
}
 *, *::before, *::after {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}

 .intro {
	 width: 90%;
	 max-width: 36rem;
	 padding-bottom: 1rem;
	 margin: 0 auto 1em;
	 padding-top: 0.5em;
	 font-size: calc(1rem + 2vmin);
	 text-transform: capitalize;
	 border-bottom: 1px dashed rgba(0, 0, 0, .3);
	 text-align: center;
}
 .intro small {
	 display: block;
	 opacity: 0.5;
	 font-style: italic;
	 text-transform: none;
}
 .info {
	 margin: 0;
	 padding: 1em;
	 font-size: 0.9em;
	 font-style: italic;
	 font-family: serif;
	 text-align: right;
	 opacity: 0.5;
}
 .info a {
	 color: inherit;
}

 .pekecontainer .peke_bg {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #dfdeed;
  background-image: url('/static/image/pekeboy_bg.png');
  background-size: contain;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.pekecontainer .peke_bg img {
  display: flex;
  align-content: center;
  /* filter: drop-shadow(20px 20px 1px #002fa5); */
  width: 50%;
  height: auto;
  margin: 5% auto 1% auto;
}

/*로딩 바 구현 끝 */

/*업로드 구현*/

.upload_container {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  /* 배경은 body에 넣는게 가장 좋습니다. */
  /* background-color: #dfdeed; */
  /* background-image: url(pekeboy_bg.png);
        background-size: contain; */
  align-items: center;
  /* width: 100%;
          height: 100vh; */
  width: 100%;
  height: 100vh;
}
.upload_container .upload_frame {
 position: relative;
  /* width 수정하여 이미지 크기 변경 */
  /* width: 28%; */
  max-width: 370px;
  min-width: 330px;
  width: 90%;
  min-height: 590px;
  max-height: 630px;
  height: 90%;
  border: solid 12px #ffe30b;
  border-radius: 2%;
  background-color: #7183ff;
  margin: 3% auto;
}

.upload_container .upload_frame .text_box {
  position: absolute;
  display: flex;
  left: 50%;
  top: 5%;
  width: 100%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}

.upload_container .upload_frame .text_box .step_2 {
  color: #ffe30b;
  font-size: 24px;
  font-weight: bold;
}

.upload_container .upload_frame .text_box .text {
  color: #ffe30b;
  font-size: 28px;
  font-weight: bold;
}

.upload_container .upload_frame .line_dot {
  width: 70%;
  height: 47%;
  border: solid 6px #ffe30b;
  border-style: dashed;
  margin: 34% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload_container .upload_frame .line_dot img {
  max-width: 70%;
  width: fit-content;
  max-height: 70%;
}

/* .upload_container .upload_frame .img_box {
    position: absolute;
    top: 0%;
    left: 67%;
    transform: translateX(-50%);
    width: 100%;
  } */

.upload_container .upload_frame .img_box img {
  width: 66%;
  height: auto;
  z-index: 9999999;
}

.upload_container .upload_frame .filebox {
  position: absolute;
  top: 72%;
  left: 15%;
  /* max-width를 수정하여 사용. 아래의 width는 100% 유지 */
  max-width: 67%;

  width: 100%;
}
.upload_container .upload_frame .filebox .submit_btn {
  display: none;
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  width: 75px;
  height: 40px;
  background-color: #002fa5;
  filter: drop-shadow(5px 5px 1px #325cce);
  border: none;
  border-radius: 5px;
  color: white;
}
.upload_container .upload_frame .filebox .submit_btn:hover {
  background-color: #c7b100;
  cursor: pointer;
}

.upload_container .upload_frame .filebox label {
  width: 100%;
  /* 버튼 크기는 height로 설정 */
  height: 35px;
  padding: 0.5em 0.75em;
  display: flex; /* flex를 사용했기 때문에 정렬은 margin이나 text-align이 아닌 justify-content, align-item을 사용*/
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬*/
  color: #002fa5;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  background-color: #ffe30b;
  cursor: pointer;
  filter: drop-shadow(5px 5px 1px #c7b100);
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.upload_container .upload_frame .filebox label:hover {
  background-color: #6ed36e;
}

.upload_container .upload_frame .filebox label:active {
  background-color: #367c36;
}

.upload_container .upload_frame .filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*결과창*/

.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.result_container .result_frame {
  position: relative;
  max-width: 370px;
  min-width: 330px;
  width: 100%;
  min-height: 590px;
  max-height: 630px;
  height: 100%;
  border: solid 12px #ffe30b;
  border-radius: 2%;
  background-color: #7183ff;
  margin: 3% auto;
}

.result_container .result_frame .text_box {
  position: absolute;
  display: flex;
  left: 50%;
  top: 5%;
  width: 100%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}

.result_container .result_frame .text_box .step_2 {
  color: #ffe30b;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.result_container .result_frame .text_box .text {
  color: #ffe30b;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.result_container .result_frame .line_dot {
  /* position: relative; */
  width: 70%;
  height: 47%;
  border: solid 6px #ffe30b;
  border-style: dashed;
  margin-top: 34%;
    margin-left: 15%;
}

/* 겹쳐지는 요소(자식요소)는 absolute를 지정하여 top left만으로 위치를 지정해줍니다. */
.result_container .result_frame .icon_box_1 {
  position: absolute;
  list-style: none;
  width: 60px;
  height: 50px;
  top: 69%;
  left: 20%;
  background-color: #002fa5;
  border-radius: 10px;
}

.result_container .result_frame .icon_box_1 li {
  padding: 8px 15px;
  font-size: 30px;
  color: #ffe30b;
}

.result_container .result_frame .icon_box_2 {
  position: absolute;
  list-style: none;
  width: 60px;
  height: 50px;
  top: 69%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #002fa5;
  border-radius: 10px;
}

.result_container .result_frame .icon_box_2 li {
  padding: 8px 20px;
  font-size: 30px;
  color: #ffe30b;
}

.result_container .result_frame .icon_box_3 {
  position: absolute;
  list-style: none;
  width: 60px;
  height: 50px;
  top: 69%;
  left: 64%;
  background-color: #002fa5;
  border-radius: 10px;
}

.result_container .result_frame .icon_box_3 li {
  padding: 4px 14px;
  font-size: 35px;
  color: #ffe30b;
}

.result_container .result_frame .save_btn {
  position: absolute;
  list-style: none;
  width: 130px;
  height: 45px;
  top: 82%;
  left: 10%;
  background-color: #ffe30b;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 1px #c7b100);
}

.result_container .result_frame .save_btn li {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.result_container .result_frame .save_btn li a {
  color: #3057d8;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  /* padding-top: 50px; */
  line-height: 220%;
}

.result_container .result_frame .re_btn {
  position: absolute;
  list-style: none;
  width: 130px;
  height: 45px;
  top: 82%;
  left: 53%;
  background-color: #ffe30b;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 1px #c7b100);
}

.result_container .result_frame .re_btn li {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.result_container .result_frame .re_btn li a {
  color: #3057d8;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  /* padding-top: 50px; */
  line-height: 220%;
}

.result_container .result_frame .re_btn li:hover {
  background-color: #6ed36e;
}

.result_container .result_frame .save_btn li:hover {
  background-color: #6ed36e;
}

/* 화풍 선택 */
.option_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.option_container .option_frame {
  position: relative;

  max-width: 480px;
  min-width: 480px;
  width: 100%;
  min-height: 590px;
  max-height: 630px;
  height: 100%;
  border: solid 12px #ffe30b;
  border-radius: 2%;
  background-color: #7183ff;
  margin: 3% auto;
}

.option_container .option_frame .text_box {
  position: absolute;
  display: flex;
  left: 50%;
  top: 5%;
  width: 100%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}

.option_container .option_frame .text_box .step_2 {
  color: #ffe30b;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.option_container .option_frame .text_box .warning_box {
  color: #ffe30b;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 85%;
}

.option_container .option_frame .text_box .text {
  color: #ffe30b;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.option_container .option_frame .line_dot {
  width: 70%;
  height: 60%;
  border: solid 6px #ffe30b;
  border-style: dashed;
  margin: 24% auto;
}

.option_container .option_frame .icon_box_1 {
  position: absolute;
  list-style: none;
  width: 120px;
  height: 120px;
  top: 25%;
  left: 20%;
  background-color: #001685;
  border-radius: 60px;
}

/* .option_container .option_frame .icon_box_1 li > .icon_ctrl_1 {
  width: 5px;
} */

.option_container .option_frame .icon_box_1 li img {
  position: absolute;
  margin-left: 15px;
  margin-top: -38px;
  width: 100px;
  filter: drop-shadow(5px 1px 0px #b4c4ed);
  transition: all 0.2s ease-in-out;
}

.option_container .option_frame .icon_box_1 li img:hover {
  transform: scale(1.1);
  filter: drop-shadow(-4px 0px 0px yellow);
}

.option_container .option_frame .icon_box_2 {
  position: absolute;
  list-style: none;
  width: 120px;
  height: 120px;
  top: 25%;
  left: 66%;
  transform: translateX(-50%);
  background-color: #002fa5;
  border-radius: 60px;
}

.option_container .option_frame .icon_box_2 li img {
  margin-left: 9px;
  margin-top: -17px;
  width: 110px;
  filter: drop-shadow(5px 1px 0px #7183ff);
  transition: all 0.2s ease-in-out;
}

.option_container .option_frame .icon_box_2 li img:hover {
  transform: scale(1.1);
  filter: drop-shadow(-4px 0px 0px yellow);
}

.option_container .option_frame .icon_box_3 {
  position: absolute;
  list-style: none;
  width: 120px;
  height: 120px;
  top: 54%;
  left: 66%;
  transform: translateX(-50%);
  background-color: #002fa5;
  border-radius: 60px;
}

.option_container .option_frame .icon_box_3 li img {
  margin-left: 9px;
  margin-top: -17px;
  width: 110px;
  filter: drop-shadow(5px 1px 0px #7183ff);
  transition: all 0.2s ease-in-out;
}

.option_container .option_frame .icon_box_3 li img:hover {
  transform: scale(1.1);
  filter: drop-shadow(-4px 0px 0px yellow);
}

.option_container .option_frame .icon_box_4 {
  position: absolute;
  list-style: none;
  width: 120px;
  height: 120px;
  top: 54%;
  left: 33%;
  transform: translateX(-50%);
  background-color: #002fa5;
  border-radius: 60px;
}

.option_container .option_frame .icon_box_4 li img:hover {
  transform: scale(1.1);
  filter: drop-shadow(-4px 0px 0px yellow);
}

.option_container .option_frame .icon_box_4 li img {
  margin-left: 9px;
  margin-top: -17px;
  width: 110px;
  filter: drop-shadow(5px 1px 0px #7183ff);
  transition: all 0.2s ease-in-out;
}

.option_container .option_frame .save_btn {
  position: absolute;
  list-style: none;
  width: 130px;
  height: 45px;
  top: 82%;
  left: 10%;
  background-color: #ffe30b;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 1px #c7b100);
}

.option_container .option_frame .save_btn li {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.option_container .option_frame .save_btn li a {
  color: #3057d8;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  line-height: 220%;
}

.option_container .option_frame .re_btn {
  position: absolute;
  list-style: none;
  width: 130px;
  height: 45px;
  top: 82%;
  left: 53%;
  background-color: #ffe30b;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 1px #c7b100);
}

.option_container .option_frame .re_btn li {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.option_container .option_frame .re_btn li a {
  color: #3057d8;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  line-height: 220%;
}

.option_container .option_frame .re_btn li:hover {
  background-color: #6ed36e;
}

.option_container .option_frame .save_btn li:hover {
  background-color: #6ed36e;
}


.team_name {
  padding-top: 0%;
  background-color: #3057d8;
  text-align: center;
  width: 100%;
  bottom: 7vh;
  /* padding-bottom: 3%; */
  margin: 0 auto;
  font-weight: bold;
  color: var(--background-color);
}

@media screen and (max-width: 768px) {
  /* Nav container */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  /* Menu */
  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__menu a {
    /* Fill in an entire line so that user can click on any space */
    display: block;
  }

  /* Icons */
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  /* Toggle button */
  .navbar__toggleBtn {
    display: block;
  }

  /* When toggle button is clicked - active state */
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}

#label-container {
    margin-top: 2rem;
    text-align: center;
}