
body {
    font-family: 'Jua', sans-serif;

    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #35465d;
    text-align: center;
}

.title {
    margin-top: 3.75%;
    font-size: 5vw;
    line-height: 1.3;
    text-align: center;
    color: #35465d;
}

.subtitle {
    padding-top: -15px;
    line-height: 1.4;
    text-align: center;
    color: #35465d;
}
.input_img {
	width:45%;
	max-width: 250px;
	height: 250px;
	border: 5px solid gray;
	border-radius: 70%;
}

@media screen and (max-width: 500px) {
	html{
		font-size:13px;
	}
}

/*시작 버튼*/
.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/*시작 버튼 끝*/

/*a 링크 기본 설정 ( 파란색 제거)*/
a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

/*a 링크 기본 설정 ( 파란색 제거) 끝*/

/*로딩 바 구현*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 animation-timing-function: ease;
}
 .probody {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 60vh;
	 overflow: hidden;
}
 #wrapper {
	 position: relative;
	 width: 350px;
	 animation: out 0.3s forwards ease;
	 animation-delay: 5s;
	 transform: scale(1);
	 opacity: 1;
	 transform-origin: center -80%;
}
 @keyframes out {
	 0% {
		 transform: scale(1);
		 opacity: 1;
	}
	 100% {
		 transform: scale(0);
		 opacity: 0;
	}
}
 #wrapper .loader {
	 animation: rotation 3.5s forwards linear;
	 position: absolute;
	 top: -120px;
	 left: calc(50% - 35px);
	 border: 5px solid #fff;
	 border-radius: 50%;
	 border-top-color: #a29bfe;
	 height: 70px;
	 width: 70px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 @keyframes rotation {
	 0% {
		 transform: rotate(0);
	}
	 84% {
		 transform: rotate(500deg);
	}
	 95% {
		 border: 5px solid #fff;
		 border-top-color: #a29bfe;
	}
	 100% {
		 transform: rotate(1800deg);
		 border: 5px solid #2ed573;
	}
}
 #wrapper .loader:before {
	 content: "\f00c";
	 font-weight: 900;
	 font-size: 2em;
	 color: #2ed573;
	 animation: overspin 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 animation-delay: 3.4s;
	 transform: rotate(180deg);
	 opacity: 0;
}
 @keyframes overspin {
	 0% {
		 transform: rotate(180deg);
		 opacity: 0;
	}
	 100% {
		 transform: rotate(0);
		 opacity: 1;
	}
}
 #wrapper #mouse {
	 position: absolute;
	 top: 100px;
	 left: 80%;
	 animation: mouse-pos 3.5s forwards, mouse-pos2 1s forwards;
	 animation-delay: 0s, 4s;
	 z-index: 20;
}
 @keyframes mouse-pos {
	 30% {
		 top: 100px;
		 left: 80%;
	}
	 50% {
		 top: 15px;
		 left: 4%;
	}
	 60% {
		 top: 15px;
		 left: 4%;
	}
	 75% {
		 top: 5px;
		 left: 7.3%;
	}
	 85% {
		 top: 5px;
		 left: 7.3%;
	}
	 95% {
		 top: 15px;
		 left: 105%;
	}
	 100% {
		 top: 15px;
		 left: 105%;
	}
}
 @keyframes mouse-pos2 {
	 0% {
		 top: 15px;
		 left: 105%;
	}
	 100% {
		 top: -85px;
		 left: 53%;
	}
}
 #wrapper #mouse:after {
	 content: "\f245";
	 position: absolute;
	 top: 0;
	 left: 0;
	 font-weight: 900;
	 font-size: 20px;
	 animation: mouse-cont 2s forwards;
	 animation-delay: 1.7s;
	 color: #341f97;
	 text-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
 @keyframes mouse-cont {
	 0% {
		 font-size: 20px;
	}
	 2% {
		 font-size: 15px;
	}
	 4% {
		 font-size: 20px;
	}
	 33% {
		 content: "\f245";
	}
	 34% {
		 content: "\f337";
	}
	 80% {
		 content: "\f337";
	}
	 81% {
		 content: "\f245";
	}
}
 #wrapper #mouse:before {
	 content: "";
	 position: absolute;
	 top: -22px;
	 left: -24px;
	 width: 50px;
	 height: 50px;
	 border-radius: 50%;
	 border: 2px solid #222f3e;
	 animation: circle 3.5s forwards;
	 animation-delay: 1.7s;
	 opacity: 0;
	 transform: scale(0);
}
 @keyframes circle {
	 0% {
		 transform: scale(0);
	}
	 4% {
		 opacity: 1;
	}
	 8% {
		 transform: scale(1);
		 opacity: 0;
	}
	 92% {
		 transform: scale(0);
		 opacity: 0;
	}
	 95% {
		 opacity: 1;
	}
	 100% {
		 transform: scale(1);
		 opacity: 0;
	}
}
 #wrapper .loading-bar {
	 width: 100%;
	 height: 30px;
	 background: #dfe6e9;
	 border-radius: 5px;
}
 #wrapper .loading-bar .progress-bar {
	 animation: progress 3.5s forwards;
	 width: 6%;
	 height: 100%;
	 background: #a29bfe;
	 border-radius: 5px;
	 border: 0 solid #0abde3;
}
 @keyframes progress {
	 0% {
		 width: 6%;
	}
	 50% {
		 border: 0 solid #0abde3;
	}
	 51% {
		 border: 4px solid #0abde3;
	}
	 85% {
		 width: 11%;
	}
	 95% {
		 border: 4px solid #0abde3;
		 width: 100%;
	}
	 100% {
		 width: 100%;
	}
}
 #wrapper .status {
	 margin-top: 10px;
}
 #wrapper .status .state {
	 float: left;
	 font-size: 0.9em;
	 letter-spacing: 1pt;
	 text-transform: uppercase;
	 width: 100px;
	 height: 20px;
	 position: relative;
}
 #wrapper .status .state:before {
	 content: "Loading";
	 position: absolute;
	 left: 0;
	 top: 0;
	 animation: fadeLeft 0.5s forwards ease;
	 animation-delay: 3.2s;
}
 @keyframes fadeLeft {
	 0% {
		 text-indent: 0;
		 opacity: 1;
	}
	 100% {
		 text-indent: -100px;
		 opacity: 0;
	}
}
 #wrapper .status .state:after {
	 content: "Complete";
	 position: absolute;
	 left: 0;
	 top: 0;
	 text-indent: 100px;
	 opacity: 0;
	 animation: fadeLeft2 0.5s forwards ease;
	 animation-delay: 3.2s;
}
 @keyframes fadeLeft2 {
	 0% {
		 text-indent: 100px;
		 opacity: 0;
	}
	 100% {
		 text-indent: 0;
		 opacity: 1;
	}
}
 #wrapper .status .percentage {
	 float: right;
}
 #wrapper .status .percentage:before {
	 -webkit-animation: percentage-slow 3s forwards, percentage-fast 0.4s forwards;
	 -webkit-animation-delay: 0s, 3s;
	 content: "10%";
	 font-size: 0.9em;
	 letter-spacing: 1pt;
}
 @keyframes percentage-slow {
	 0% {
		 content: "6%";
	}
	 25% {
		 content: "7%";
	}
	 50% {
		 content: "8%";
	}
	 75% {
		 content: "9%";
	}
	 100% {
		 content: "10%";
	}
}
 @keyframes percentage-fast {
	 11% {
		 content: '11%';
	}
	 12% {
		 content: '12%';
	}
	 13% {
		 content: '13%';
	}
	 14% {
		 content: '14%';
	}
	 15% {
		 content: '15%';
	}
	 16% {
		 content: '16%';
	}
	 17% {
		 content: '17%';
	}
	 18% {
		 content: '18%';
	}
	 19% {
		 content: '19%';
	}
	 20% {
		 content: '20%';
	}

	 39% {
		 content: '39%';
	}

	 55% {
		 content: '55%';
	}

	 71% {
		 content: '71%';
	}
	 93% {
		 content: '93%';
	}
	 94% {
		 content: '94%';
	}
	 95% {
		 content: '95%';
	}
	 96% {
		 content: '96%';
	}
	 97% {
		 content: '97%';
	}
	 98% {
		 content: '98%';
	}
	 99% {
		 content: '99%';
	}
	 100% {
		 content: '100%';
	}
}


/*로딩 바 구현 끝 */