
 <nav class="navbar">
        <!-- Logo with text -->
        <div class="navbar__logo">
            <i class="fas fa-solid fa-paw"></i>

            <a href="{% url 'home' %}">Pekemon!</a>
        </div>
        <!-- Menu -->
        <ul class="navbar__menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'home' %}">Gallery</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
        </ul>
        <!-- Icons -->
        <ul class="navbar__icons">
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
        </ul>
        <!-- Toggle button -->
        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

